:root {
    --face-color: #ffc0cb;
    --white-color: #ffffff;
    --black-color: #000000;
    --nose-color: #f57187;
    --perfect-circle: 50%;
  }
  
  body {
    background-color: var(--black-color);
  }
  
  .head {
    position: relative;
    margin-top: 20px;
    background-color: var(--face-color);
    height: 200px;
    width: 200px;
    border-radius: var(--perfect-circle);
    border: var(--black-color) 5px solid;
  }
  
  .head .ear {
    background-color: var(--face-color);
    height: 50px;
    width: 50px;
    border-radius: var(--perfect-circle);
    border: var(--black-color) 5px solid;
    position: absolute;
    z-index: -1;
    top: -10px;
  }
  
  .head .ear:first-child {
    left: 10px;
  }
  
  .head .ear:last-child {
    right: 10px;
  }
  
  .eye {
    background-color: var(--white-color);
    height: 50px;
    width: 50px;
    position: absolute;
    border: 2px solid var(--black-color);
    border-radius: 50%;
    top: 40px;
  }
  
  .eye:first-child {
    left: 30px;
  }
  
  .eye:last-child {
    right: 30px;
  }
  
  .eye .pupil {
    position: absolute;
    background-color: var(--black-color);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: 25%;
    left: 25%;
  }
  
  .nose {
    background-color: var(--nose-color);
    height: 60px;
    width: 100px;
    border-radius: 35%;
    position: absolute;
    bottom: 30px;
    left: 25%;
    border: 2px solid var(--black-color);
  }
  
  .nose .nostril {
    background-color: var(--black-color);
    height: 30px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
  }
  
  .nostril:first-child {
    left: 10%;
  }
  
  .nostril:last-child {
    right: 10%;
  }
  